
/* Global styles defined below👇🏼*/
*{
    font-family: 'Montserrat',sans-serif;
}
/* Styles for the navigation area 👇🏼 */
.top-nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-menu {
    
    width: 85vw;
    margin: 50px auto 15px auto;
    padding: 1%;
    
    }

#decoration-top-left {
    height: 150px;
    width: 150px;
    border: solid 1px;
    border-color: #25A4AD;
    position: absolute;
    transform: rotate(60deg);
    left: -130px;
    top: -10px;
    overflow: hidden;
    
}

#decoration-top-right {
    height: 50px;
    width: 50px;
    background-color: #FFC229;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: 20px;
    overflow: hidden;
}

.top-menu li {
    display: inline;
    margin: 5px 1%;
    text-align: center;
    padding: 10px;
    
}

.top-menu li:hover {
    color: #25A4AD;
    border-bottom: solid medium;
    cursor: pointer;
}

#btn-top-menu {
    color: #25A4AD;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 55%;
    border: solid 1.5px #25A4AD;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    
}

#btn-top-menu:hover {
    color: #ffff;
    background-color: #25A4AD;
    cursor: pointer;
}

/* Styles for header 👇🏼 */
.header-container {
    width: 85vw;
    display: flex;
    justify-content: left;
    align-items: center;
    /* this needs to get adjusted */
    margin: 50px auto 15px auto ; 
    
    
    
}

.header-cta {
   width: 45%;
   padding: 0px 20px;
   overflow: visible;
   
}


#digital-business {
    font-size: 5rem;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 2%;
}

#header-management {
    color: #25A4AD;
    font-weight: 600;
    
    padding: 1px;
}

.paragraph {
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.5;
    padding: 1px;
    margin-bottom: 3%;
}

#product-emphasis {
    color:#25A4AD;
    font-weight:600;
}

.header-btn-get-started {
    color: #fff;
    background-color: #25A4AD;
    border: solid 1.5px #25A4AD;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px;
    margin: 10px;

}

.header-btn-get-started:hover {
    color: #25A4AD;
    background-color: transparent;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px; 
    cursor: pointer;

}


.header-btn-explore {
    color: #25A4AD;
    font-weight: 500;
    font-size: 1rem;
    border: solid 1.5px #25A4AD;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    

}

.header-btn-explore:hover {
    color: #ffff;
    background-color: #25A4AD;
    cursor: pointer;

}


.header-image {
    width: 50%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
}

   

.image-backdrop {
    height: 50vh;
    width: 20vw;
    background-color: #D7FCFF;
    border-radius: 100% 100% 0% 0%;
    margin-left: 25%;
    position: absolute;
    left: 31%;
    top: 28.2%;
    
    overflow: hidden;
    
}

.image-backdrop-outline {
    height: 50vh;
    width: 20vw;
    background-color: transparent;
    border: solid 1px #25A4AD;
    border-radius: 100% 100% 0% 0%;
    margin-left: 1%;
    
    z-index: 1;
    position: absolute;
    top:28.2%;
    overflow: hidden;
    

}

#tiny-blue-square-1 {

    height: 30px;
    width: 30px;
    background-color: #D7FCFF;
    position: absolute;
    left:52%;
    bottom: 45%;

}

#tiny-blue-square-2 {

    height: 30px;
    width: 30px;
    background-color: #D7FCFF;
    position: absolute;
    left: 55%;
    bottom: 41%;

}

#tiny-orange-droplets {
    height: 30px;
    width: 30px;
    border-radius: 0% 100% 100% 100%;
    background-color: #FFC229;
    position: absolute;
    left: 45%;
    bottom: 70%;
}

#zig-zag-line {
    position: absolute;
    left: 64%;
    top: 45%
}

/* Styles for the section with client logos */

.client-logos {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
   
}

.logo {
    width: 60px;
    height: 60px;
}


